@tailwind base;
@tailwind components;
@tailwind utilities;

.label-text {
    font-family: 'Angkest', sans-serif;
}

.body-text{
    font-family: 'Lora', serif;
}

.select-none {
    -webkit-touch-callout: none; /* Disable long press on mobile */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Firefox */
}
.no-highlight {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent; /* For iOS devices */
}

